// Brakepoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// Base
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cc5757;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

img {
  display: block;
  width: 100%;
  height: 220px;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

// Utilities

.container {
  width: $mobile;
  margin: 0 auto;
  margin-top: 110px;
  padding: 0 20px 0 20px;
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

// Search form

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background: #fafafa;
  background: linear-gradient(to right, #ffffff, #000000);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.search-form__input {
  display: flex;
  justify-content: center;
  background-color: #fafafa;

  width: 300px;
  border-radius: 5px;
  border: none;  
  padding: 10px;

  font-size: 16px;

  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &::placeholder {
    font-size: 16px;
    color: #aaaaaa;;
  }

  @media screen and (min-width: $tablet) {
    width: 400px;
  }

  @media screen and (min-width: $desktop) {
    width: 700px;
  }
}

.search-form__button {
  width: 100px;
  height: 40px;

  margin-left: 10px;

  font-size: 16px;

  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  cursor: pointer;
  transition: background-color 300ms linear, color 300ms linear;

  &:hover,
  &:focus {
    background-color: #3f3f3f;
    color: #ffffff;
  }

  @media screen and (min-width: $mobile) {
    width: 70px;
  }
}


.search-form input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;  
}

.search-form button {
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  display: inline-flex;
  flex-direction: column;
  width: 340px;
  margin: 5px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 4px;
  background-color: #fff;
}

.info {
  display: flex;
  text-align: center;
  padding: 5px;
}

.load-more {
  width: 200px;
  height: 40px;

  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);

  font-size: 16px;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 300ms linear, color 300ms linear;

  &:hover,
  &:focus {
    background-color: #3f3f3f;
    color: #ffffff;
  }

  &.is-hidden {
    display: none;
  }
}

.load-more.is-hidden {
  display: none;
}